<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Disease Detector</title>
    <link rel="stylesheet" href="HomePage.css">
</head>
<body>
    <!--Empty Top Container-->
    <div class = "top_empty_container"></div>

    <!--Middle Container-->
    <div class="display_container">
        <div class="middle_container_1"></div>
        <div class="middle_container_2">
            <div class = "middle_container_2_top">
                <center><h1 class = "heading">Disease Detector</h1></center>
                <!--Form Start-->
                <form class="form_top_margin">
                    <div>
                        <label>Fullname</label>
                        <input name = "full_name" placeholder = "Full Name" />
                    </div>
                    <div>
                        <label>Age Range</label>
                        <select name="age">
                            <option value="21-30">21-30</option>
							<option value="31-40">31-40</option>
							<option value="41-50">41-50</option>
							<option value="Above 50">Above 50</option>
                        </select>
                    </div>
                    <div>
                        <label>Gender</label>
                        <select name="gender">
                            <option value = "Male">Male</option>
                            <option value = "Female">Female</option>
                        </select>
                    </div>
                    <div>
                        <li>
                            <label>
                                Dehydration:
                                <input type="radio" name="dehydration" value="Yes"> Yes
                                <input type="radio" name="dehydration" value="No"> No
                            </label>
                        </li>
                        <li>
                            <label>
                                Fatigue:
                                <input type="radio" name="fatigue" value="Yes"> Yes
                                <input type="radio" name="fatigue" value="No"> No
                            </label>
                        </li>
                        <li>
                            <label>
                                Cough:
                                <input type="radio" name="cough" value="Yes"> Yes
                                <input type="radio" name="cough" value="No"> No
                            </label>
                        </li>
                        <li>
                            <label>
                                Fever:
                                <input type="radio" name="fever" value="Yes"> Yes
                                <input type="radio" name="fever" value="No"> No
                            </label>
                        </li>
                        <li>
                            <label>
                                Vomiting:
                                <input type="radio" name="vomiting" value="Yes"> Yes
                                <input type="radio" name="vomiting" value="No"> No
                            </label>
                        </li>
                    </div>
                    <div>
                        <input type="submit" value="save">
                    </div>
                </form>
                <!--Form End-->
            </div>
            <div class = "middle"></div>
            <div class = "butt">
                <center>
                    <h2 class = "copyright">Copyright 2023</h2>
                </center>
            </div>
        </div>
        <div class="middle_container_3"></div>
    </div>

    <!--Bottom Container-->
    <div class="bottom_empty_container"></div>
</body>
</html>